.event_creation{
    display: flex;
    flex-direction: column;
    
    width: 90vw;
    background-color: white;
    align-items: center;
    margin-left: auto;  
    margin-bottom: 2vh; 
    margin-top: 5vh; 
    border-top-left-radius: 40px;
    overflow: hidden;
}

.event_details{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 88, 158);
    width: 90%;
    border-radius: 20px;
    margin-top: 7vh;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
}

.date_address{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vw;
    padding-top:3vh;
}

.description_edit_delete{
    display: flex;
    margin-left: 21vw;
    margin-bottom: 4vh;
    margin-top: 2vh;
}

#edit{
    margin-left: 20vw;
    margin-right: 1vw;
    background-color: rgb(202, 213, 224);;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#delete{
    background-color: rgb(202, 213, 224);
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#date,#address,#description{
    color: white;
}


