.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(206, 112, 25);
    
}

.maindiv{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}